@import "../../styles/constants.pcss";

.params {
  width: 100%;
  height: 100%;
  font-size: 17px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  -ms-overflow-style: none;

  @media(--maxScreen) {
    font-size: 20px;
  }

  & table {
    width: 100%;
    margin: 30px 0;
    table-layout: fixed;
  }

  & tbody {
    background: rgba(0,0,0,0);
  }

  & th {
    padding: 10px 0 3px;
    text-align: left;

    &.title {
      padding-top: 40px;
      font-size: 22px;
      text-align: left;

      @media(--maxScreen) {
        font-size: 24px;
      }
    }

    &.mainTitle {
      padding: 0 0 20px;
    }

    @media(--maxScreen) {
      padding: 20px 0 3px;
    }
  }

  & tr {

  }

  & td {
    width: 50%;
    padding: 6px 0;
    text-align: left;
    vertical-align: top;

    &:first-child {
      padding-right: 30px;
    }

    &:last-child {
      padding-left: 30px;
    }
  }
}

.color {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  border: solid 1px var(--secondColor);
  display: inline-block;
  vertical-align: middle;
}
