@import "../../styles/constants.pcss";

.layout {
  display: block;
  line-height: 1;
  white-space: nowrap;
  color: var(--mainColor);
  text-align: right;

}

.old {
  color: var(--secondColor);

  &:before {
    content: '';
    width: 100%;
    height: 2px;
    display: block;
    position: absolute;
    top: 49%;
    transform: rotate(-12deg);
    border-top: 2px solid var(--secondColor);
  }
}

.price {
  display: inline-block;
  position: relative;
}

.old {
  margin: 0 0 6px;
  font-size: 50%;
  line-height: 1;
  position: relative;
  display: inline-block;
}
