@import "../../styles/constants.pcss";

.wrapper {
  position: relative;
  display: inline-block;
  max-width: 100%;
  user-select: none;
  transition: opacity 0.3s, visibility 0.3s;

  &.wide {
    width: 100%;

    & .button {
      width: 100%;
    }
  }

  &.hidden {
    opacity: 0;
    visibility: hidden;
  }
}

.button {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  font-size: 35px;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  text-decoration: none;
  color: var(--baseColor);
  border: 2px solid var(--mainColor);
  border-radius: 20px;
  background: var(--mainColor);

  &:not(.round) {
    min-width: 200px;
  }

  &:active, &.active {
    transform: scale(0.9);

    &:not(.secondary) {
      opacity: 0.8;
    }
  }

  &.secondary {
    box-shadow: none;
    border-radius: 40px;
    color: var(--baseColor);
    border-color: var(--baseColor);

    & .glow {
      display: none;
    }
  }

  &.small {
    font-size: 16px;
    padding: 10px 15px;

    & .icon {
      margin-right: 8px;
    }
  }

  & .icon {
    margin-right: 16px;
  }
}
