@import './constants.pcss';
@import './fonts.pcss';

html {
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  font: 400 20px/1.2 'Roboto';
  color: var(--baseColor);
  background: #000;
}

button,
input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  user-select: none;
}

*:focus {
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
}

:global {
  & #root {
    height: 100%;
    width: 100%;
    background: url(/assets/bg.jpg) no-repeat;
    background-size: cover;
  }

  & .reactRoot {
    height: 100%;
    //width: var(--maxWidth);
    max-width: 100%;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  & .layout {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  & div.router-leave {
    display: none;
  }
}
