@custom-media --maxScreen (min-width: 1000px) and (min-height: 1000px);

:root {
  --maxWidth: 1920px;
  --maxLayoutWidth: 1440px;
  --mainColor: rgba(211, 47, 47, 1);
  --secondColor: #858585;
  --baseColor: #ccc;
  --secondFontFamily: Arial;

  /* border-radius */
  --borderRadius: 20px;

  /* card */
  --cardBorderRadius: 40px;
  --cardBgColor: rgba(0, 0, 0, 0.5);
  --cardBackBgColor: rgba(0, 0, 0, 0.85);
  --cardPadding: 60px;

  /* miniCard */
  --miniCardWidth: 22.91%;
  --miniCardLWidth: 74.31%;
  --miniCardMWidth: 48.61%;
  --miniCardMargin: 2.77%;
  --miniCardBorderRadius: 15px;

  /* menu */
  --menuWidth: 210px;

  /* layout */
  --layoutPaddingTop: 70px;
  --layout: {
    max-width: var(--maxLayoutWidth);
    height: 100%;
    margin: auto;
    padding: 40px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;

    @media (--maxScreen) {
      padding: 70px 40px;
    }
  }
  --layoutRight: {
    left: 0;
    right: var(--menuWidth);
  }
  --zoom: {
    zoom: 0.7;

    @media (--maxScreen) {
      zoom: 1;
    }
  }
}
