@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  src: url('/assets/fonts/Roboto-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 600;
  font-style: normal;
  src: url('/assets/fonts/Roboto-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  font-style: normal;
  src: url('/assets/fonts/Roboto-Light.woff2') format('woff2');
}
