@import "../../styles/constants.pcss";

.wrapper {
  width: 80px;
  height: 60px;
  text-align: center;
  position: fixed;
  top: 40px;
  right: 40px;
  z-index: 90;
}

.btn {
  color: #fff;
  cursor: pointer;
  opacity: 0.3;
  background: transparent;
  border: 0;
  transition: opacity 0.4s;

  &[disabled] {
    opacity: 0.05;
    cursor: auto;
  }
}

.btnActive {
  opacity: 1;
  animation: speech 1.6s infinite cubic-bezier(0, 0, 0, 0);
 }

.tip {
  width: 330px;
  padding: 8px;
  border-radius: 6px;
  display: block;
  position: absolute;
  left: -330px;
  top: 0;
  top: 50%;
  color: var(--mainColor);
  transform: translate3d(0, -50%, 0);
  background: rgba(255, 255, 255, 1);
  animation: shake 3s cubic-bezier(0, 0, 0, 0);
  opacity: 0;
  font-size: 16px;

  @media (--maxScreen) {
    font-size: 18px;
  }

  &::before {
    content: '';
    width: 0;
    height: 0;
    margin-top: -10px;
    display: block;
    position: absolute;
    top: 50%;
    right: -20px;
    border: solid 10px transparent;
    border-left-color: #fff;
  }
}

@keyframes shake {
  0%,to {
    opacity: 0;
    transform: translate3d(0, -50%, 0)
  }
  10% {
    transform: translate3d(-2px, -50%, 0);
    opacity: 1;
  }

  30%,50%,70% {
    transform: translate3d(-2px, -50%, 0)
  }

  20%,40%,60%,80% {
    transform: translate3d(2px, -50%, 0)
  }

  90% {
    transform: translate3d(-2px, -50%, 0);
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}


@keyframes speech {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}
