@import "../../styles/constants.pcss";

:root {
  --bgColor: var(--mainColor);
  --color: #fff;
}

.disabled {
  opacity: 0.5;
  cursor: default;
}

.wrapper {
  width: 80px;
  height: 80px;
  display: block;
  border-radius: 50%;
  line-height: 80px;
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 100;

  &.blmb {
    animation: blmb 5s 2s infinite cubic-bezier(0, 0, 0, 0);
  }
}

@keyframes blmb {
  0% {
    box-shadow: 0 0 1px 0 rgba(211, 47, 47, 0), 0 0 1px 0 rgba(211, 47, 47, 0);
  }

  42% {
    box-shadow: 0 0 1px 0 rgba(211, 47, 47, 0), 0 0 1px 0 rgba(211, 47, 47, 0);
  }

  49% {
    box-shadow: 0 0 1px 20px rgba(211, 47, 47, 0.5), 0 0 1px 0 rgba(211, 47, 47, 0.6);
  }

  53% {
    box-shadow: 0 0 1px 31px rgba(211, 47, 47, 0.4), 0 0 1px 20px rgba(211, 47, 47, 0.5);
  }

  58% {
    box-shadow: 0 0 1px 31px rgba(211, 47, 47, 0), 0 0 1px 31px rgba(211, 47, 47, 0.4);
  }

  63% {
    box-shadow: 0 0 1px 31px rgba(211, 47, 47, 0), 0 0 1px 40px rgba(211, 47, 47, 0);
  }
}

.menu {
  position: absolute;
  left: 0;
  top: 0;
}

.menu-item,
.menu-open-button {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  color: inherit;
  text-align: center;
  line-height: 80px;
  font-size: 28px;
  background: var(--bgColor);
  border: 0;
  border-radius: 100%;
  transform: translate3d(0, 0, 0);
  transition: transform ease-out 200ms;
}

.menu-item {
  opacity: .8;
}

.menu-open {
  display: none;
}

.hamburger {
  width: 25px;
  height: 3px;
  background: white;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -12.5px;
  margin-top: -1.5px;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
}

.hamburger-1 {
  transform: translate3d(0, -8px, 0);
}

.hamburger-2 {
  transform: translate3d(0, 0, 0);
}

.hamburger-3 {
  transform: translate3d(0, 8px, 0);
}

.menu.active .menu-open-button .hamburger-1 {
  transform: translate3d(0, 0, 0) rotate(45deg);
}

.menu.active .menu-open-button .hamburger-2 {
  transform: translate3d(0, 0, 0) scale(0.1, 1);
}

.menu.active .menu-open-button .hamburger-3 {
  transform: translate3d(0, 0, 0) rotate(-45deg);
}

.menu-item:not(.disabled):hover {
  background: white;
  color: var(--bgColor);
}

.menu-item:nth-child(2) {
  transition-duration: 180ms;
}

.menu-item:nth-child(3) {
  transition-duration: 180ms;
}

.menu-item:nth-child(4) {
  transition-duration: 180ms;
}

.menu-item:nth-child(5) {
  transition-duration: 180ms;
}

.menu-open-button {
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 400ms;
  transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  cursor: pointer;
  z-index: 2;
}

.menu-open-button:hover {
  transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

.menu.active .menu-open-button {
  transition-timing-function: linear;
  transition-duration: 200ms;
  transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.menu.active .menu-item {
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.menu.active .menu-item:nth-child(2) {
  transition-duration: 170ms;
  transform: translate3d(0, -90px, 0);
}

.menu.active .menu-item:nth-child(3) {
  transition-duration: 270ms;
  transform: translate3d(0, -200px, 0);
}

.menu.active .menu-item:nth-child(4) {
  transition-duration: 370ms;
  transform: translate3d(0, -310px, 0);
}

.menu.active .menu-item:nth-child(5) {
  transition-duration: 470ms;
  transform: translate3d(0, -420px, 0);
}
