@import "../../styles/constants.pcss";

.layout {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  pointer-events: none;
  transform-style: preserve-3d;
  transition: transform 0.9s;

  &.active {
    pointer-events: all;
  }

  &.flip {
    transform: rotateY(180deg);
  }
}

.card {
  height: 100%;
  padding: calc(var(--cardPadding) / 2);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  font-size: 16px;
  position: relative;
  background: var(--cardBgColor);
  border-radius: calc(var(--cardBorderRadius) / 1.5);
  box-sizing: border-box;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  overflow: hidden;
  z-index: 2;

  @media(--maxScreen) {
    padding: var(--cardPadding);
    border-radius: var(--cardBorderRadius);
  }
}

.close {
  width: 60px;
  height: 60px;
  color: var(--mainColor);
  position: absolute;
  top: 10px;
  right: 10px;
  border: 0;
  background: none;
  cursor: pointer;
  z-index: 9;
  opacity: 0.5;
  transition: opacity 0.4s;

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 1;
  }
}

.flipButton {
  width: 100%;
  text-align: center;
  flex-shrink: 0;
}

.front {

}

.imageSwiper {
  width: 100%;
  flex-basis: 600px;
  flex-shrink: 1;
  flex-grow: 1;
  position: relative;
}

.image {
  width: 300px;
  max-width: 50%;
  height: 100%;
  margin: 0 auto;
  background: no-repeat 50% 50%;
  background-size: contain;
  -ms-interpolation-mode: bicubic;
}

.imageSlide {
  width: 300px;
  max-width: 50%;
  height: 100%;
  background: no-repeat 50% 50%;
  background-size: contain;
  -ms-interpolation-mode: bicubic;
}

.frontTitle {
  width: 100%;
  margin-right: 10px;
  display: block;
  font-size: 26px;
  line-height: 1.2;

  @media(--maxScreen) {
    margin-right: 20px;
    font-size: 32px;
  }
}

.frontInfo {
  margin: calc(var(--cardPadding) / 2) 0;
  font-size: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media(--maxScreen) {
    margin-bottom: var(--cardPadding);
    font-size: 44px;
  }
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transform: rotateY(180deg);
  overflow: hidden;
  z-index: 9;
}

.backHead {
  height: 200px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 1;
}

.backImage {
  width: 230px;
  max-width: 40%;
  height: 100%;
  margin-right: 10px;
  display: block;
  background: no-repeat 50% 50%;
  background-size: contain;
  -ms-interpolation-mode: bicubic;
}

.backTitle {
  font-size: 26px;

  @media(--maxScreen) {
    font-size: 30px;
  }
}

.backParams {
  width: 100%;
  height: 100%;
  padding: calc(var(--cardPadding) / 2) 0;
  flex-shrink: 1;
  flex-grow: 1;
  overflow: auto;
  position: relative;
  mask-image: -webkit-gradient(linear, 0 0, 0% 100%,
  color-stop(0.00, rgba(0,0,0,0)),
  color-stop(0.15, rgba(0,0,0,1)),
  color-stop(0.80, rgba(0,0,0,1)),
  color-stop(1.00, rgba(0,0,0,0))
  );
}
