@import "../../styles/constants.pcss";

.layout {
  height: 100%;
  width: 100%;
  animation: fadeIn 1.2s;
}

.item {
  width: 600px;
  max-width: 50%;
  height: 100%;

  @media (--maxScreen) {
    width: 700px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(.3);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
