body {
  height: 100%;
  width: 100%;
  background: #000;
}

#vitrinevkr {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#reset {
  width: 2px;
  height: 2px;
  position: absolute;
  left: 0;
  right: 0;
  outline: 0;
  border: 20px solid rgba(0,0,0,0);
  background: rgba(0,0,0,0.1);
  background-clip: padding-box;
  z-index: 99;
}
