@import "../../styles/constants.pcss";

.layout {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  pointer-events: none;
  transform-style: preserve-3d;
  transition: transform 0.9s;

  &.active {
    pointer-events: all;
  }

  &.flip {
    transform: rotateY(180deg);
  }
}

.card {
  height: 100%;
  padding: calc(var(--cardPadding) / 2);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  font-size: 16px;
  position: relative;
  background: var(--cardBgColor);
  border-radius: calc(var(--cardBorderRadius) / 1.5);
  box-sizing: border-box;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  overflow: hidden;
  z-index: 2;

  @media(--maxScreen) {
    padding: var(--cardPadding);
    border-radius: var(--cardBorderRadius);
  }
}

.flipButton {
  width: 100%;
  text-align: center;
  flex-shrink: 0;
}

.front {
}

.frontImage {
  width: 100%;
  flex-basis: 600px;
  flex-shrink: 1;
  flex-grow: 1;
  background: no-repeat 50% 50%;
  background-size: contain;
}

.frontTitle {
  width: 100%;
  margin: calc(var(--cardPadding) / 2) 0;
  display: block;
  text-align: center;
  font-size: 40px;
  line-height: 1.2;

  @media(--maxScreen) {
    margin-bottom: var(--cardPadding);
  }
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transform: rotateY(180deg);
  overflow: hidden;
  z-index: 9;
}

.backTitle {
  font-size: 40px;

  @media(--maxScreen) {
    font-size: 45px;
  }
}

.backContent {
  padding: calc(var(--cardPadding) / 2) 0;
  flex-shrink: 1;
  flex-grow: 1;
  overflow: auto;
  mask-image: -webkit-gradient(linear, 0 0, 0% 100%,
  color-stop(0.00, rgba(0,0,0,0)),
  color-stop(0.15, rgba(0,0,0,1)),
  color-stop(0.80, rgba(0,0,0,1)),
  color-stop(1.00, rgba(0,0,0,0))
  );
}

.backLink {
  margin: 5px;
  padding: 5px 0;
  font-size: 30px;
  line-height: 1.4;
  display: block;

  @media(--maxScreen) {
    padding: 10px 0;
    font-size: 36px;
  }
}
